body {
   margin: 20px; 
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.avatar {
width: 100px;
border: 3px dotted green;
border-radius: 50px;
}
.card {
    border: 5px dotted purple;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    font-size: large;
    background: #ddebf8;
    color: #2b2839;
    border-bottom: 6px solid #d8cefe;
}
.italics {
    font-style: italic;
    
}


